body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .title {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
} */

.logo {
  width: 50vw;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.elevated {
  transform: translate(0%, -100%);
}

.flex-left {
  margin-right: 20%;
}

.text-glow {
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

:root {
  --primary-color: 228, 37, 40;
  --text-color: 256, 256, 256;
}

.btn {
  font-family: sans-serif;
  font-size: 2.5vmin;
  padding: 12px 32px;
  margin: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 20px 5px;
  width: 45vw;
  max-width: 50vw;
  height: 5.5vh;
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

.btn-gradient-border {
  color: rgb(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(rgb(55, 0, 0), rgb(33, 13, 13)),
    radial-gradient(circle at left top, #e42528, #ffffff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
